# Ignore Build files
Build/
Simulator
Makefile

# Ignore libraries
Box2D/


# Ignore editor files
Simulator.pro.user

# Ignore results
results/*
# but not the default settings
!results/default_settings
