# Ignore Build files
Build/
Simulator
Makefile

# Ignore libraries
Box2D/
NSGA2/

# Ignore editor files
Simulator.pro.user

# Ignore results
results/*
# but not the default settings
!results/default_settings

#ignore the plot.out file from NSGA2
plot.out
